body {
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #f8d353;
  background: -webkit-linear-gradient(top left, #f8d353, #ff5c5a);
  background: -moz-linear-gradient(top left, #f8d353, #ff5c5a);
  background: linear-gradient(top left, #f8d353, #ff5c5a);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,
h2,
h3,
p {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

img {
  width: 20%;
  height: 20%;
}

button {
  background: #f8d353;
  background: -webkit-linear-gradient(top left, #f8d353, #ff5c5a);
  background: -moz-linear-gradient(bottom left, #f8d353, #ff5c5a);
	background: linear-gradient(top right, #f8d353, #ff5c5a);
}

.container {
  display: flex;
  /* border: 2px solid rgba(32, 178, 171, 0.705); */
  height: 100vh;
  flex-wrap: wrap;
  flex-direction: column;
}

.card {
	flex: 1;
	border: 2px solid rgba(181, 235, 232, 0.705);
	width: calc(50% - 5px);
	justify-content: center;
	align-items: center;
}