* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* margin: 0;
  padding: 0; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #f8d353;
  background: -webkit-linear-gradient(top left, #f8d353, #ff5c5a);
  background: -moz-linear-gradient(top left, #f8d353, #ff5c5a);
  background: linear-gradient(top left, #f8d353, #ff5c5a);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  text-align: center;
}

h2,
h3,
p {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

img {
  width: 20%;
  height: 20%;
}

button {
  background: #f8d353;
  /* background: -webkit-linear-gradient(top left, #f8d353, #ff5c5a);
  background: -moz-linear-gradient(bottom left, #f8d353, #ff5c5a);
	background: linear-gradient(top right, #f8d353, #ff5c5a); */
}

.container {
  margin-top: 5%;
  display: flex;
  height: 40vh;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
	flex: 1;
	border: 1px solid rgba(0, 0, 0, 0.705);
	width: calc(50% - 5px);
}

.gem-container {
    display: flex;
    height: 60vh;
    flex-direction: row;
    /* align-content: center; */
  }

/* .gem-card {
  padding-left: 10%;
  padding-top: 10%;
} */

.card > p > span, .card > p {
  font-size: 0.9em;
}

@media all and (orientation:portrait) {
  .gem-card {
    padding-left: 10%;
    padding-top: 15%;
  }
}

@media all and (orientation:landscape) { 
  .gem {
  flex: 1;
	border: 1px solid rgba(0, 0, 0, 0.705);
  width: calc(48% - 5px);
  /* justify-content: center;
  align-content: center; */
  }
  .gem-card {
    padding-left: 5%;
    padding-top: 5%;
  }
}

